.ActiveBoard {
    display: flex;
    align-items: flex-start;
}

.ActiveBoard__button-back {
    width: 100px;
    height: 25px;
    margin-right: 30px;

    color: #ffffff;

    background-color: rgb(76, 76, 207);

    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);

    cursor: pointer;
}